body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: '微软雅黑', Helvetica, Arial, '宋体', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  padding: 0px;
}
ul li {
  list-style: none;
}
.title_img {
  text-align: center;
  margin: 0px;
  position: relative;
  z-index: 1000;
}
.more {
  display: block;
  float: right;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}
.hide {
  display: none;
}
.hide2 {
  visibility: hidden;
}
.page_head {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.page_head .head_img {
  display: block;
  width: 100%;
  min-width: 1200px;
  padding: 0px;
  margin: 0px;
  margin: 0 auto;
}
.top_menu {
  width: 100%;
  min-width: 1200px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #3d61a3;
}
.top_menu .menu_list {
  width: 1200px;
  margin: 0 auto;
}
.top_menu .menu_list li {
  float: left;
  padding: 0px;
  margin: 0px;
}
.top_menu .menu_list li a {
  display: block;
  padding: 25px 30px 25px 30px;
  font-size: 32px;
  color: #ffffff;
  background-color: #3d61a3;
}
.top_menu .menu_list li a:hover {
  color: #3d61a3;
  background-color: #ffffff;
  font-weight: bold;
}
.share {
  width: 1190px;
  margin: 10px auto;
  text-align: right;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
}
.share div {
  display: inline;
}
.share .bdsharebuttonbox {
  float: right;
  padding-left: 10px;
}
.focus_area {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
}
.focus_area .focus_list {
  float: left;
  width: 528px;
  margin: 0px 0px 0px 40px;
}
.focus_area .focus_list li {
  background: url("list_img.png") no-repeat 0px 0px;
  padding: 0px 0px 0px 40px;
  margin: 0px 0px 5px 0px;
  color: #000000;
}
.focus_area .focus_list li a {
  font-size: 15px;
  line-height: 25px;
}
.focus_area .focus_list li .news_title {
  display: block;
  height: 40px;
  line-height: 20px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.focus_area .focus_list li p {
  padding: 0px;
  margin: 10px 0px 20px 0px;
  color: #a6cccd;
  font-size: 15px;
  text-indent: 2em;
  height: 75px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.focus_area .focus_list li p a {
  color: #7c7c7c;
}
.focus_area .focus_list .focus_current .news_title {
  line-height: 25px;
  font-size: 18px;
  height: 50px;
}
.panda_eyes_area {
  width: 100%;
  height: 820px;
  min-width: 1200px;
  padding: 50px 0px 0px 0px;
  margin: 0px;
  overflow: hidden;
  background: #ffffff url("panda_eyes_bg.jpg") repeat-x 0px 180px;
}
.panda_eyes_area .panda_eyes_center {
  width: 1200px;
  margin: 0 auto;
}
.panda_eyes_area .panda_eyes_center .panda_eyes {
  width: 975px;
  height: 690px;
  margin: 0 auto;
  margin-top: 10px;
  background: url("panda_eyes.png") no-repeat center;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .panda_btn {
  display: block;
  position: relative;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .panda_btn0 {
  display: block;
  position: relative;
  width: 510px;
  height: 345px;
  top: 168px;
  left: 232px;
  border-radius: 50%;
  z-index: 1000;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .btn1 {
  width: 400px;
  height: 300px;
  top: -340px;
  left: 95px;
  border-top-right-radius: 0px;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 99;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .btn2 {
  width: 400px;
  height: 300px;
  top: -640px;
  left: 495px;
  border-top-right-radius: 300px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 99;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .btn3 {
  width: 280px;
  height: 400px;
  top: -803px;
  left: 5px;
  border-top-right-radius: 180px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 180px;
  border-bottom-left-radius: 50%;
  z-index: 100;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .btn4 {
  width: 280px;
  height: 400px;
  top: -1203px;
  left: 690px;
  border-top-right-radius: 50%;
  border-top-left-radius: 180px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 180px;
  z-index: 100;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .btn5 {
  width: 400px;
  height: 300px;
  top: -1360px;
  left: 95px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 300px;
  z-index: 99;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .btn6 {
  width: 400px;
  height: 300px;
  top: -1660px;
  left: 495px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 0px;
  z-index: 99;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .panda_window {
  position: relative;
  z-index: 1001;
  width: 330px;
  height: 120px;
  padding: 37px 10px 98px 20px;
  background: url("panda_window.png");
}
.panda_eyes_area .panda_eyes_center .panda_eyes .panda_window img {
  width: 160px;
  height: 120px;
  float: left;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .panda_window p {
  width: 160px;
  height: 120px;
  padding: 0px;
  margin: 0px 0px 0px 10px;
  line-height: 25px;
  float: left;
  overflow: hidden;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .panda_window p a {
  color: #000000;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .window1 {
  top: -2500px;
  left: 135px;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .window2 {
  top: -2755px;
  left: 495px;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .window3 {
  top: -2820px;
  left: -50px;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .window4 {
  top: -3075px;
  left: 690px;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .window5 {
  top: -3060px;
  left: 135px;
}
.panda_eyes_area .panda_eyes_center .panda_eyes .window6 {
  top: -3315px;
  left: 495px;
}
.interview_area {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
}
.interview_area .interview_list {
  margin: 40px 0px 50px 0px;
  overflow: hidden;
}
.interview_area .interview_list li {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  float: left;
  color: #ffffff;
  font-size: 18px;
}
.interview_area .interview_list li span {
  padding: 30px 40px 30px 40px;
  float: left;
  display: block;
  width: 20px;
  height: 340px;
  background: url("interview_list.jpg") no-repeat 0px 0px;
  writing-mode: vertical-lr;
  writing-mode: tb-lr;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.interview_area .interview_list li span:hover {
  cursor: pointer;
}
.interview_area .interview_list li .interview_video {
  padding-top: 31px;
  float: left;
  background: #3d69a3;
  width: 600px;
  height: 369px;
}
.interview_area .interview_list li .interview_video video {
  width: 600px;
  height: 338px;
}
.cooperation_schedule {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}
.cooperation_schedule .cooperation {
  width: 680px;
  padding: 0px 30px 0px 0px;
  float: left;
  border-right: solid 1px #a9a9a9;
}
.cooperation_schedule .cooperation .cooperation_list {
  margin: 40px 0px 0px 0px;
}
.cooperation_schedule .cooperation .cooperation_list li {
  margin: 0px 0px 10px 0px;
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.cooperation_schedule .cooperation .cooperation_list li a {
  padding: 17px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cooperation_schedule .schedule {
  width: 450px;
  padding: 0px 0px 0px 30px;
  float: left;
}
.cooperation_schedule .schedule .schedule_img {
  margin: 40px 0px 0px 0px;
}
.pavilion {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  overflow: hidden;
}
.pavilion .pavilion_list {
  padding: 0px;
  margin: 40px 0px 30px 0px;
}
.pavilion .pavilion_list li {
  width: 240px;
  height: 180px;
  padding: 0px;
  margin: 2px 0px 10px 10px;
  float: left;
  text-align: left;
  vertical-align: middle;
}
.pavilion .pavilion_list li a {
  display: block;
  font-size: 15px;
  color: #ffffff;
  line-height: 20px;
}
.pavilion .pavilion_list li a img {
  width: 240px;
  height: 180px;
}
.pavilion .pavilion_list li a p {
  height: 40px;
  padding: 1px 5px 0px 5px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: -45px;
  overflow: hidden;
}
.pavilion .pavilion_list .pavilion_first {
  width: 450px;
  height: 375px;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
.pavilion .pavilion_list .pavilion_first a {
  font-size: 18px;
  line-height: 30px;
}
.pavilion .pavilion_list .pavilion_first a img {
  width: 450px;
  height: 375px;
}
.pavilion .pavilion_list .pavilion_first a p {
  height: 34px;
  padding: 3px 5px 0px 5px;
  top: -45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.copyright {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0px;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
}
.copyright a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
}
.page_content {
  width: 950px;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  text-align: center;
}
.page_content .thumb {
  text-align: right;
  font-size: 15px;
  color: #000000;
  padding: 0px 10px 10px 0px;
}
.page_content .thumb a {
  color: #000000;
  text-decoration: none;
}
.page_content .upper_title {
  width: 600px;
  text-align: left;
  font-size: 32px;
  margin-top: -40px;
  padding-left: 0px;
  position: relative;
  color: #3d61a3;
  font-weight: bold;
}
.page_content .video_content {
  clear: both;
  overflow: hidden;
  padding: 30px 0px 50px 0px;
}
.page_content .video_content .video-list {
  padding: 0px;
  margin: 0px;
}
.page_content .video_content .video-list li {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 10px 3px 30px 2px;
  float: left;
  width: 235px;
  color: #000000;
  text-align: left;
}
.page_content .video_content .video-list li a {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
}
.page_content .video_content .video-list li a .video-img {
  width: 235px;
  height: 132px;
}
.page_content .video_content .video-list li a .iplay {
  position: absolute;
  margin-left: 20px;
  margin-top: 85px;
  z-index: 99;
}
.page_content .video_content .video-list li p {
  height: 48px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.page_content .tuwen_list_area {
  text-align: left;
  margin: 0px;
  padding: 0px 0px 50px 0px;
}
.page_content .tuwen_list_area .tuwen_list {
  margin: 0px;
  padding: 0px;
}
.page_content .tuwen_list_area .tuwen_list li {
  padding: 0px;
  margin: 0px;
  border-bottom: solid 1px #7c7c7c;
  margin: 50px 0px 0px 0px;
  color: #7c7c7c;
}
.page_content .tuwen_list_area .tuwen_list li a {
  color: #7c7c7c;
  line-height: 25px;
}
.page_content .tuwen_list_area .tuwen_list li .tuwen_list_title {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}
.page_content .tuwen_list_area .tuwen_list li .tuwen_list_content {
  height: 50px;
  margin: 20px 0px 25px 0px;
  text-indent: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.page_content .page_title {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  margin: 30px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.page_content .page_from {
  font-size: 15px;
  color: #a9a9a9;
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
}
.page_content .page_from a {
  color: #a9a9a9;
}
.page_content .page_text {
  font-size: 15px;
  color: #000000;
  line-height: 30px;
  margin: 40px 80px 80px 80px;
  padding: 0px;
  text-align: left;
  overflow: hidden;
}
.page_content .page_text p {
  margin: 0px ;
}
.page_content video {
  width: 900px;
  height: 507px;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}
.page_content .share {
  width: 900px;
}
.page_content .video_details {
  font-size: 18px;
  color: #000000;
  line-height: 25px;
  margin: 20px;
  padding: 0px;
  text-align: left;
  overflow: hidden;
}
.page_content .video_details span {
  display: block;
  width: 50px;
  float: left;
}
.page_content .video_details p {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  width: 860px;
  float: left;
}
.videopage_content {
  width: 1200px;
}
@media screen and (min-width: 1001px) {
  .page_head {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .page_head {
    width: 1200px;
  }
}
